/* - - - - - - - Nav - - - - - - - - */
#nav {
	background-color: transparent;
	margin-bottom: 100px;
	transition: background-color 0.3s ease-in-out;
}

/** Decoration */
.navbar-toggler:focus {
	outline: none;
}

/** if hasScrolled is true  */
.NavbarScrolled {
	background-color: rgba(0, 0, 0, 0.8);
}

/** Animation Hover Github & Docker  */
.HoverAnim {
	transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
	&:hover {
		transform: translateY(-5px);
	}
}
